{% extends "main.html" %}

{% block content %}
<h1>Round Info</h1>
<form method="post">
<p>Round ID: {{ round[0] }}</p>
<p>Round Name: <input name="name" type="text" value="{{ round[1] }}"></p>
<p>Start Date: <input name="start" type="date" value="{{ round[2] }}"></p>
<p>End Date: <input name="end" type="date" value="{{ round[3] }}"></p>
<p>Matches:</p>
<table>
    <tr>
        <th>Match ID</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Match Date</th>
        <th>Result</th>
    </tr>
    {% for match in matches %}
    <tr>
        <td>{{ match["id"] }}</td>
        <td><select name="home">
            {% for team in teams %}
                {% if team["id"] == match["home"]%}
                    <option value="{{ team['id'] }}" selected>{{ team['name'] }}</option>
                {% else %}
                    <option value="{{ team['id'] }}">{{ team['name'] }}</option>
                {% endif %}
            {% endfor %}
        </select></td>
        <td><select name="away">
            {% for team in teams %}
                {% if team["id"] == match["away"]%}
                    <option value="{{ team['id'] }}" selected>{{ team['name'] }}</option>
                {% else %}
                    <option value="{{ team['id'] }}">{{ team['name'] }}</option>
                {% endif %}
            {% endfor %}
        </select></td>
        <td><input type="date" name="date" value="{{ match['date'] }}"></td>
        <td><select name="result" value="{{ match['result'] }}">
            {% if match["result"]==match["home"]"%}
            <option value="tbd">Not Played</option>
            <option value="{{ match['home']}}" selected>{{ match['home']}}</option>
            <option value="{{ match['away']}}">{{ match['away']}}</option>
            {% elif match["result"]==match["away"]"%}
            <option value="tbd">Not Played</option>
            <option value="{{ match['home']}}">{{ match['home']}}</option>
            <option value="{{ match['away']}}" selected>{{ match['away']}}</option>
            {% else %}
            <option value="tbd" selected>Not Played</option>
            <option value="{{ match['home']}}">{{ match['home']}}</option>
            <option value="{{ match['away']}}">{{ match['away']}}</option>
            {% endif %}
        </select></td>
        </td>
    </tr>
    {% endfor %}
</table><br>
<input type="submit" value="Update">
</form>
<br>
<p style="color: red;">Danger zone!</p>
<form method="delete">
<input type="submit" value="Delete">
</form>
{% endblock %}