{% extends "main.html" %}

{% block imports %}
<link rel="stylesheet" type="text/css" href="/static/tips.css">
<script>var all_tips = {{ all_tips | tojson }};</script>
<script src="/static/tips.js" defer></script>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
  <h1>Tips</h1>
  <form method="post">
    {% for match in round["tips"] %}
    <div class="match">
      <input type="hidden" name="match_id" value="{{ match['id'] }}">
      <!--Row 1-->
      <img class="one" src="/static/teams/{{ match['home'] }}.png">
      <p class="two">{{ match['date'] }}</p>
      <img class="three" src="/static/teams/{{ match['away'] }}.png">

      <!--Row 2-->
      <p class="one">{{ match["home"][1] }}</p>
      <select name="tip" class="two">
        <option value="None">-</option>
        {% if match["home"][0] == match["tip"] %}
        <option value="{{ match['home'][0] }}" selected>{{ match["home"][1] }}</option>
        {% else %}
        <option value="{{ match['home'][0] }}">{{ match["home"][1] }}</option>
        {% endif %}

        {% if match["away"][0] == match["tip"] %}
        <option value="{{ match['away'][0] }}" selected>{{ match["away"][1] }}</option>
        {% else %}
        <option value="{{ match['away'][0] }}">{{ match["away"][1] }}</option>
        {% endif %}
      </select>
      <p class="three">{{ match["away"][1] }}</p>
    </div><br>
    {% endfor %}
    <input type="submit" value="Save">
    </form>
{% endblock %}