{% extends "main.html" %}

{% block content %}
<h1>User Info</h1>
<form method="POST">
  <p>Username: <input type="text" name="username" value="{{user[0]}}"></p>
  <p>Password: <input type="text" name="password" value="{{user[1]}}"></p>
  <p>Name: <input type="text" name="name" value="{{user[2]}}"></p>
  <input type="submit" value="Update">
</form>
<br>
<p style="color: red;">Danger zone!</p>
<input type="button" value="Delete" onclick="fetch(window.location.pathname,{method: 'delete'});window.location.pathname='/admin/users'">
{% endblock %}

{% block imports %}
{% endblock %}